body {
    background-color: rgb(61, 59, 59);
    margin-top: 7%;
    font-family: 'Times New Roman', Times, serif;
    
}
div{
    color: white;
}
.l1{
    font-size: 500%;
}
.l2{
    font-size: 1500%;
}
.l3{
    font-size: 500%;
}
